# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Maven wrapper
.mvn/wrapper/
# IntelliJ IDEA
.idea/
*.iml
# Maven target directory
target/